body
{
margin: 10% 30%;
}
h1{
   font-family: cursive;
   text-align: center;
   
} 
input{
    width: 70%;
    height: 20px;
    margin-left: 10%;
}
button{
    margin: 10px 25%;
    background-color: aquamarine;
    height: 30px;
    width: 40%;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 20px;
    padding:100px;
    border-top: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: large;
}