header{
    display: block;
    background-color: rgb(224, 230, 224);
    height: 150px;
    padding-left: 150px;
    padding-top: 30px;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(200, 201, 200);
}
header p{
    color: grey;
    line-height: 0px;
}
nav{
    background-color: white;
    padding: 15px;
}
nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    margin: 0;
    list-style: none;
}
nav li{
    font-weight: bold;
    float: left;
}
nav a{
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(140, 141, 233);
}
.abt{
    color:grey;
}
img{
    width: 99%;
    height: 600px;
}
main{
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    flex-grow: 3;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;

}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}
.logo li{
    list-style: none;
}
.logo img{
    height: 100px;
    width: 100px;
}

.logo :hover{
    background-color: rgb(140, 141, 233);
}
.side p{color: rgb(85, 83, 83);}

/*.row{margin: 50px;}*/
.row p{
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(85, 83, 83);
}
.flexitem{
  width: 300px;
  height: 400px;
  margin: 30px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 30px;
    background-color: indigo;
    padding-left: 150px;
    color: white;
    font-family: sans-serif;
    
}
iframe{
    height: 200px;
    width: 150px;
}
#page{
    display: block;
    width: 250px;
    text-align: center;
}
.info{
    display: block;
    width: 250px;
    line-height: 35px;
}
.info ul{
    list-style: none;
}
.info li{
    border-bottom:2px solid rgb(72, 29, 124);

}
.info a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:700px) {
    /* For mobile phones: */
    
    body{
        width: 100%;
        box-sizing: border-box;
    }
    header{
        display: block;
        font-size: 20px;
        padding:50px;
        height: 50px;
        margin: 0;

    }
    h1, h2, h3{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }
    nav li{
        margin:0;
    }
    nav li a{
        display: block;
        text-align: center;
    }
    nav a:hover{
        background-color: rgb(140, 141, 233);
    }
    img{
        width: 99%;
        height: 50%;
    }
    main{
        display: flex;
        flex-flow: column-reverse;
        margin:0;
        padding:0;
        width:100% ;
    }
    .info{
        margin-top: 10px;
        height: auto;
    }
    .row p{
        font-size: 12px;
        width: 100%;
        margin: 0;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    footer{
        display: block;
        margin: 0;
        text-align: center;
        padding-left: 100px;
    }
    .info li{
        text-align: center;
    }
    .info a:hover{
       background-color:  rgb(140, 141, 233);
    }

}